.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_btn {
    background-color: #7630D9;
    height: 60px;
    width: 240px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    border-color: #7630D9;
    font-size: 40px;
    margin: 0 0;
}