
.login-FundoTotal{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-FundoApp {
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(./../../../images/ImagemFundo.svg);
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    height: 768px;
    width: 1280px;
    border-radius: 30px;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5))
                       */
}

.login-FundoBranco{
    height: 668px;
    width: 1080px;
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
}

.login-DivEsquerda{
    height: 668px;
    width: 540px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.login-gradient-LogoQuest{
    height: 334px;
    width: 540px;
}

.login-LogoQuest{
    height: 334px;
    width: 540px;    
}

.login-Cadastro{
    height: 334px;
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.login-Cadastro p{
    font-size: 30px;
    padding-top: 0px;
}

.btn-Cadastro {
    background-color: #055566;
    height: 60px;
    width: 250px;
    border-radius: 15px;
    color: white;
    border-color: #055566;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    display: flex;
}

.login-DivDireita{
    height: 668px;
    width: 540px;
    background-color: #F2F2F2;
    border-radius: 30px;
}

.login-Texto-Login{
    height: 167px;
    width: 540px;
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.login-Texto-Login p {
    justify-content: end;
}

.login-Div-Forms{
    background-color: #F2F2F2;
    
}

.login-Forms-Containt{
    height: 334px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.login-Login{
    height: 167px;
    width: 540px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.botao-Login{
    background-color: #7630D9;
    height: 60px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    color: white;
    border-color: #7630D9;
    font-size: 40px;
}